@model ThAmCo.Events.Models.CustomerViewModel

@{
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Customer Full Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            Customer Email Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerEmailAddress)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Event Title
                </th>
                <th>
                    Event Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Event) //Loops through each customer booking and displays event title, date and attended.
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                    @Html.ActionLink("Details", "Details", "Event", new { id = item.EventId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCustomerBooking", "GuestBooking", new { eId = item.EventId , cId = item.CustomerId})
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
