@model ThAmCo.Events.Models.EventViewModel

<h2>@Model.EventTitle Details</h2>

<div class="row">
    <div class="col-md-12">
        <h4>Event Details</h4>
        <table class="table">
            <tr>
                <th>Event Title</th>
                <th>Event Date</th>
                <th>Event Duration</th>
                <th>Event Type Id</th>
                <th>Event Guest Count</th>
                <th>Event Staff Count</th>
                <th>Staff</th>
                <th>First Aider</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.EventTitle)</td>
                <td>@Html.DisplayFor(model => model.Date)</td>
                <td>@Html.DisplayFor(model => model.Duration)</td>
                <td>@Html.DisplayFor(model => model.TypeId)</td>
                <td>@Html.DisplayFor(model => model.NumberOfGuests)</td>
                <td>@Html.DisplayFor(model => model.NumberOfStaff)</td>
                <td>
                    @if (Model.SufficientStaff == true)
                    {<font color="red">@Html.DisplayFor(model => model.SufficientStaffMessage)</font>}
                else
                {<font color="green">@Html.DisplayFor(model => model.SufficientStaffMessage)</font>}
                </td>
                <td>
                    @if (Model.FirstAiderPresent == false)
                    {<font color="red">@Html.DisplayFor(model => model.FirstAiderMessage)</font>}
                else
                {<font color="green">@Html.DisplayFor(model => model.FirstAiderMessage)</font>}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h4>Staff Details</h4>
        @if (Model.Staff.Any())
        {
    <table class="table">
        <tr>
            <th>Staff Full Name</th>
            <th>Guest Email</th>
            <th>First Aider</th>
            <th>Option</th>
        </tr>
        @foreach (var item in Model.Staff)
        {
    <tr>
        <td>@Html.DisplayFor(model => item.FullName)</td>
        <td>@Html.DisplayFor(model => item.StaffEmail)</td>
        <td>@Html.DisplayFor(model => item.FirstAider)</td>
        <td><a asp-area="" asp-controller="Staffing" asp-route-id="@item.StaffID" asp-action="Delete">Delete</a></td>
    </tr>
        }
    </table>
        }
    </div>
</div>
    <div class="col-md-12">
        <h4>Customer Details</h4>
        @if (Model.Guests.Any())
        {
            <table class="table">
                <tr>
                    <th>Guest Full Name</th>
                    <th>Guest Email</th>
                    <th>Guest Attended</th>
                    <th>Option</th>
                </tr>
                @foreach (var item in Model.Guests)
                {
            <tr>
                <td>@Html.DisplayFor(model => item.FullName)</td>
                <td>@Html.DisplayFor(model => item.GuestEmail)</td>
                <td>@Html.DisplayFor(model => item.Attended)</td>
                <td><a asp-area="" asp-controller="GuestBooking" asp-route-id="@item.GuestID"  asp-action="Delete">Delete</a></td>
            </tr>
                }
            </table>
        }
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
